html,body
{
	width: 100%;
	height: 100%;
	margin:0px;
	padding: 0px;
}
body {
	background: #DDD;
	overflow: hidden;
}


.editor-area
{
	width:100%;
	height: 80%;
	display: inline-block;
}
.ace {
	width:50%;
	height:calc(99% - 150px);
	float: left;
}



/* #### Dark Matter #### */
.dark-matter {
	width: 90%;
	height: 90%;
	margin: 0px;
	margin-left: 5%;
	margin-top: 2%;
	background: #333;
	padding: 20px 30px 20px 30px;
	font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #888;

	border: none;
	border-radius: 5px;
	box-sizing: border-box;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;

}
.dark-matter .header {
	font: 25px "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 0px 0px 10px 40px;
	display: block;
	border-bottom: 1px solid #444;
	margin: -10px -30px 30px -30px;
	color: #FFF;
}
.dark-matter .header>span {
	display: block;
	font-size: 11px;
}
.dark-matter label {
	display: block;
	margin: 0px 0px 5px;
}
.dark-matter label>span {
	/* float: left; */
	width: 87px;
	text-align: left;
	padding-right: 10px;
	/* padding-left: 20px; */
	margin-top: 10px;
	color: #FFF;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
}
.dark-matter input[type="text"], .dark-matter input[type="email"], .dark-matter textarea, .dark-matter select{
	border: none;
	color: #4B4B4B;
	height: 20px;
	margin-bottom: 16px;
	margin-right: 6px;
	margin-top: 2px;
	outline: 0 none;
	padding: 6px 12px;
	width: 200px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	font: normal 14px/14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.dark-matter select {
	background: #FFF url('down-arrow.png') no-repeat right;
	background: #FFF url('down-arrow.png') no-repeat right);
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	width: 72%;
	height: 30px;
}
.dark-matter textarea{
	height:100px;
}
.dark-matter .button {
	background: #FFF;
	border: none;
	padding: 10px 25px 10px 25px;
	color: #333;
	border-radius: 4px;
}
.dark-matter .button.process{
	background-color: #000;
	color:#FFF;
}
.dark-matter .button:hover {
	color: #333;
	background-color: #EBEBEB;
}

#json
{
	width:150px;
}

#error
{
	width:100%;
	height:30px;
	background-color: #D00;
	margin-bottom: 5px;
	line-height: 30px;
	font-size: 15px;
	color:#FFF;
	border-radius: 5px;
	padding-left:10px;
	box-sizing: border-box;
	display: none;
}